
/* ............ */
.model{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 1, 1);
    display: flex;
    justify-content: center;
}
.model-card{
    width: 60%;
    height: 80%;
    background-color: white;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}
.model-titleBox{
    width: 95%;
    /* border: 1px solid; */
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.model-title {
    font-size: 28px;
    color: rgb(12, 187, 187);
    font-weight: 600;
}
.x-btn{
    font-size: 32px;
    color: rgb(12, 187, 187);
    font-weight: 600;
    width: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.x-btn:hover{
    background-color: gray;
}
.model-body{
    width: 95%;
}
.inputRowModel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.input-label{
    font-size: 12px;
    color: rgb(12, 187, 187);
}
.input-model{
    border:  1px solid rgb(12, 187, 187);
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
}
.input-model:placeholder{
    color: rgb(12, 187, 187);
}
.input-model:focus{
    outline: none;
}
.btnDivModel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.submit-model{
    width: 100px;
    height: 30px;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
    background: linear-gradient(#3ac6bc 0 0) var(--p, 0)/var(--p, 0) no-repeat;
    transition: 0.8s;
    background-position: 0s;
}
.submit-model:hover{
    background-color: rgb(12, 187, 187);
    --p: 100%;
    color: #000000;   
}